
<div class="container-fluid">
	    <a class="navbar-brand" href="#">My Business</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarCollapse">
	      <ul class="navbar-nav me-auto mb-2 mb-md-0">
	        <li class="nav-item">
	          <a id="page_home" class="nav-link" aria-current="page" href="/mybusiness/home">Accueil</a>
	        </li>
	        <li class="nav-item">
	          <a id="page_customers" class="nav-link" href="/mybusiness/allCustomers">Clients</a>
	        </li>
	        <li class="nav-item">
	          <a id="page_subscriptions" class="nav-link" href="/mybusiness/allSubscriptions">Abonnements</a>
	        </li>
	        <li class="nav-item">
	          <a id="page_payments" class="nav-link" href="/mybusiness/allPayments">Paiements</a>
	        </li>
	<!--         <li class="nav-item"> -->
	<!--           <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
	<!--         </li> -->
	      </ul>
	      <ul class="navbar-nav mb-2 mb-md-0">
					<li class="nav-item auth-bloc">
						<div class="loggedin" th:if="${ memberName!=null }" th:text="${ memberName }">FP</div> 
					</li>
					<li class="nav-item auth-bloc">
						<button class="logout" th:if="${ memberName!=null }" onclick="logout();"></button>
					</li>	
					<li class="nav-item auth-bloc">	
						<button class="signin" th:if="${ memberName==null }" onclick="signin();"></button>
					</li>
						
				</ul>
	<!--       <form class="d-flex" role="search"> -->
	<!--         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
	<!--         <button class="btn btn-outline-success" type="submit">Search</button> -->
	<!--       </form> -->
	    </div>
	  </div>
	  <script type="text/javascript">
	  
	  	var currentPage = $("#currentPage").val();
	  
		setActiveLink(currentPage);
	
	  </script>